.search-container {
   background-color: rgba(0, 0, 0, 0.856);
   line-height: 40px; 
   padding: 10px;
}
.search-container input{
    width: 70%;
    height: 25px;
}
.shop-container{
    text-align: left;
    display: grid;
    grid-template-columns:3fr 1fr ;
}
.product-container{
    border-right: 1px solid gainsboro;
    margin-right: 5px;
    margin-left:30px ;
}